{% extends 'base.html' %}
{% load static %}

{% block content %}
        <h1 class="title-content">Направления</h1>
        <div class="directions">
            <div class="direction">
                <img class="img-description" src="#" alt="картинка">
                <div class="info-derection">
                    <h2 class="title-discription">
                        Семейное право
                    </h2>
                    <p class="description-derection">
                        Наши юристы в области семейного права, обладают большим опытом
                        (более 350 дел), который позволяет им решать вопросы любого характера.
                        Обращение к квалифицированному юристу поможет вам избежать ошибок.
                    </p>
                    <p class="description-derection">
                        Юристы в области семейного права сформируют
                        эффективную правовую позицию и обеспечат представление ваших интересов в суде.
                    </p>
                    <a class="choice-templat" href="#">
                        <p class="text-choice-template">
                            Подобрать шаблон
                        </p>
                    </a>
                </div>
            </div>
            <div class="direction">
                <img class="img-description" src="#" alt="картинка">
                <div class="info-derection">
                    <h2 class="title-discription">
                        Cпоры с застройщиком
                    </h2>
                    <p class="description-derection">
                        Опытные специалисты из ЮБ Компонента решат ваши вопросы в сфере приемки квартир
                        в новостройках, взыскание неустоек с застройщика, взыскание
                        с застройщика за некачественный ремонт и др.
                        Мы обладаем колоссальным опытом в данной сфере и имеем огромное количество успешных дел.
                    </p>
                    <p class="description-derection">
                        Взыскание неустойки и средств за некачественный ремонт станет
                        реальностью Юридическое Бюро «Компонента» - надежный гарант Ваших интересов!
                    </p>
                    <a class="choice-templat" href="#">
                        <p class="text-choice-template">
                            Подобрать шаблон
                        </p>
                    </a>
                </div>
            </div>
            <div class="direction">
                <img class="img-description" src="#" alt="картинка">
                <div class="info-derection">
                    <h2 class="title-discription">
                        Банкротство физических лиц
                    </h2>
                    <p class="description-derection">
                        Опытная команда ЮБ «Компонента», состоящая из юристов и арбитражных
                        управляющих имеющих солидный опыт работы в области
                        гражданского и финансового права, предлагает квалифицированную
                        помощь гражданам по списанию долгов и освобождения от долговой нагрузки.
                    </p>
                    <p class="description-derection">
                        Списание долгов проходит по кредитам, распискам, ЖКХ и т.д.
                    </p>
                    <a class="choice-templat" href="#">
                        <p class="text-choice-template">
                            Подобрать шаблон
                        </p>
                    </a>
                </div>
            </div>
            <div class="direction">
                <img class="img-description" src="#" alt="картинка">
                <div class="info-derection">
                    <h2 class="title-discription">
                        Вступление в наследство
                    </h2>
                    <p class="description-derection">
                        При вступлении в наследство нередко возникают разного рода проблемы,
                        связанные с отсутствием
                        или неверным оформлением документов или спорами между наследниками.
                        Эти и другие вопросы необходимо решать профессионально и оперативно.
                    </p>
                    <p class="description-derection">
                        ЮБ «Компонента» профессионалы в сфере наследственного права,
                        что позволяет решать нам вопросы любой сложности
                    </p>
                    <a class="choice-templat" href="#">
                        <p class="text-choice-template">
                            Подобрать шаблон
                        </p>
                    </a>
                </div>
            </div>

        </div>
{% endblock %}